@charset


h1,h2 {
text-align: center;
color: #07333f;
margin-left: 20px;
font-family: Helvetica;
}

body {background-color: #ede0e2
}



p {

color: #827c7d;
font-family: "PT Serif",Georgia,serif;
font-family: "Helvetica";
font-size: 14px;
line-height: 1.6em;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
}
ul {
  color: #232521;
}
.citazione { color: 040504;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-kerning: auto;
  font-size: 5;
}

#titolo {
color: 673d50;
}
