h1,h2 {
color: yellow;
background-color: violet;
margin-left: 20 px
}
#curriculum {
color: red;
font-size: 60 px;
}
.importante em {
  font-style: italic;
}
.importante {
  font-style: normal;
}
#top > img:nth-child(1)
<img src="//static1.squarespace.com/static/5384fc90e4b03be95bc24526/t/5512dcbde4b0dbee04c38700/1521994571796/?format=1500w" alt="Inspire ">
