h1,h2 {
color: yellow;
background-color: violet;
margin-left: 20 px
}
#curriculum {
color: red;
font-size: 60 px;
}
.importante em {
  font-style: italic;
}
.importante {
  font-style: normal;
}
body {
    font-family: "Lato", arial, sans-serif;
